.card{
    background-color: rgb(252, 252, 252);
    height: 45vh;
    width: 20vw;
    padding: 15px;
    margin-top: -15vh;
    border-radius: 20px;
    font-family: 'Josefin Sans', sans-serif;
    /* margin-left: 20vw; */
    box-shadow: 0px 0px 5px #000000;
    transition: ease-in-out 300ms;
}
.card:hover{
    border: 1px solid black;
    box-shadow: 0px 0px 20px #000000;
    
}